code,.rst-content tt {
  font-size: 100%;
  background: #F8F8F8
}

p code {
  font-size: 80%
}

div.admonition code {
  color: #404040;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
}