body {
	font-family: "Microsoft Yahei", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	margin-top: 20px;
}

h1, h2 {
	margin-top: 25px;
	border-bottom: 1px solid #e1e4e5;
	padding-bottom: 15px;
}

.col-md-9 p {
	line-height: 180%;
}

.col-md-9 li {
	margin-bottom: 3px;
	line-height: 180%;
}

.col-md-9 pre {
	  background-color: #f5f7ff;
}

table td, table th {
	font-size: 100% !important;
}

code {
	font-size: 100%;
	background: #F8F8F8;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

p code {
	font-size: 80%;
	word-wrap: normal;
}

div.admonition code {
	display: inline-block;
	overflow-x: visible;
	line-height: 18px;
	color: #404040;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 3px solid #dbdfe4;
}

img.clean {
    border: 0px;
}

img.left {
    float: left;
    margin: 10px;
    border: 2px solid #dbdfe4;
    border-radius: 3px;
    margin-right: 20px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 20px;
}

img.small {
	width: 150px;
	height: auto;
}

img.medium {
	width: 300px;
	height: auto;
}

img.large {
	width: 500px;
	height: auto;
}

img.noborder {
	border: none;
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 800px) {
	p, ol, ul {
    text-align: left;
	}
}

.hljs-comment {
	font-style: normal;
	font-size: 90%;
}

a.nav-title {
	cursor: pointer;
}

def {
    color: green;
}

fun {
    font-family: "Courier New", Courier, monospace;
    color: #822;
}

var {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: #227;
}

img.patreon {
	border: none;
	display: inline-block;
	max-height: 13px;
	margin-bottom: 2px;
}

img.paypal {
	border: none;
	display: inline-block;
	max-height: 13px;
}