body {
	font-family: "微软雅黑", "宋体", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	margin-top: 20px;
}

h1, h2 {
	margin-top: 25px;
	border-bottom: 1px solid #e1e4e5;
	padding-bottom: 15px;
}

.col-md-9 p {
	line-height: 180%;
}

table td, table th {
	font-size: 100% !important;
}

code {
	font-size: 100%;
	background: #F8F8F8;
}

p code {
	font-size: 80%;
	word-wrap: normal;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

div.admonition code {
	display: inline-block;
	overflow-x: visible;
	line-height: 18px;
	color: #404040;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.7);
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    border: 3px solid #bbb;
}

img.clean {
    border: 0px;
}

img.left {
    float: left;
    margin: 10px;
    border: 2px solid #bbb;
    border-radius: 3px;
    margin-right: 20px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 20px;
}

img.small {
	width: 150px;
	height: auto;
}

img.medium {
	width: 300px;
	height: auto;
}

img.large {
	width: 500px;
	height: auto;
}


video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 800px) {
	p, ol, ul {
    text-align: left;
	}
}

.hljs-comment {
	font-style: normal;
	font-size: 90%;
}
