{% if meta.source %}
<div class="source-links">
{% for filename in meta.source %}
    <span class="label label-primary">{{ filename }}</span>
{% endfor %}
</div>
{% endif %}

{{ content }}

<div id="disqus_thread"></div>
<script>
    (function() {
        var d = document, s = d.createElement('script');
        
        s.src = '//learnopengl-cn.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>请启用JavaScript以浏览<a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus评论。</a></noscript>
